<section class="pt-20 mb-10" id="home">
    <div class="w-10/12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 mx-auto items-center gap-x-24">
        <div>
            <img src="img/home-img.png" alt="">
        </div>
        <div>
            <div>
                <h2 class="text-3xl lg:w-2/4 text-center sm:text-left lg:text-5xl font-bold text-text-color-title">
                    Short links,
                    big results
                </h2>
                <p class="text-text-color-paragraf font-mono my-5 mb-10 text-center sm:text-left">
                    A URL shortener built with powerful tools to help you grow and protect your brand.
                </p>
                <div class="flex-auto w-full grid md:grid-cols-2">
                    <a href="#" class="button bg-text-color-title text-button-white">
                        Try Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="w-10/12 mx-auto grid grid-cols-1 gap-y-5 py-20">
        <div class="text-center">
            <h2 class="text-4xl font-bold text-text-color-title">
                Create short links.
            </h2>
        </div>
        <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-x-8 gap-y-6 items-center">
            <div>
                <img src="img/about-1.png" alt="">
            </div>
            <div>
                <p class="mb-5 lg:text-4xl text-2xl text-left text-text-color-paragraf font-mono">
                    Buat tautan panjang anda menjadi pendek dengan sekali klik.
                </p>
                <div class="grid md:grid-cols-2">
                    <a href=""
                        class="button md:py-2 transition-all border-text-color-title text-text-color-title border hover:shadow-trakteer-alt shadow-trakteer">Try
                        Now
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>